<p>faculty works!</p>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">name</label>
                     <input type="text" class="form-control"> </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"><label for="" class="label-control">designation</label>
                <input type="text" class="form-control"> </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><label for="" class="label-control">department</label>
                <select name="" id="" class="form-control">
                    <option value="BCA">BCA</option>
                    <option value="PCA">PCA</option>
                    <option value="BA ENG">BA ENG</option>
                    <option value="Bsc maths">Bsc maths</option>
                    <option value="BJMC">BJMC</option>
                    <option value="BA MAL">BA MAL</option>
                </select></div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><label for="" class="label-control">college</label>
                <input type="text" class="form-control"></div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"><label for="" class="label-control">mobile</label>
                <input type="text" class="form-control"></div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"><label for="" class="label-control">Qualification</label>
                <input type="text" class="form-control"></div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button class="btn btn-success">register</button>
                </div>
            </div>
        </div>
    </div>
</div>
